<div class="pie_ratings">
  <h1>Your Rating:</h1>

  <div>
    <h2> <%= @pie_rating.pie.name %> Pie </h2>
    <h2>Restaurant: </h2>
    <h2>Taste Score: <%= @pie_rating.taste_score %> Stars </h2>
    <h4>Comments: <%= @pie_rating.comments %></h4>
  </div>

</div>
