<div class="center-align">
  <h1><%= @cheese.name %></h1>

  <h2>Pies: </h2>
  <% if @cheese.pies.empty? %>
    <p>Hmm. Looks like there's nothing in the database for <%= @cheese.name %> Cheese.</p>
    <% if logged_in? %>
      <p>Want to add something?</p>
      <%= link_to "Create a new Pie", new_py_path, class: "button btn-regular" %>
    <% end %> 
  <% end %>

  <% @cheese.pies.each do |pie| %>
    <p><%= link_to pie.name, py_path(pie.id) %></p>
  <% end %>

</div>
