<div class="center-align">
  <h2>Let's get eating <%= @user.username.capitalize %>. Where would you like to start?</h2>

    <h3><%= link_to "By Category", categories_path %></h3>
    <h3><%= link_to "By Restaurants", restaurants_path %></h3>
    <h3><%= link_to "My Rated Restaurants's", restaurant_ratings_path %></h3>


</div>
