<div class="center-align">
  <h1>Pies</h1>
  <% Pie.all.sort_by(&:name).each do |p| %>
    <h3><%= link_to p.name, py_path(p.id)%> - <%= p.category.name %>.</h3>
  <% end %>

  <br></br>

  <% if logged_in? %>
    <h4><%= link_to "Create a Pie", new_py_path%></h4>
  <% end %>
  
</div>
