<h1>Welcome to Slice-NYC!</h1>
<p>Your one stop place to tracking the best pizza available in the Tri-State Area.</p>

<%= link_to "Login", "/login" %><br></br>
<%= link_to "Sign Up", "/signup" %><br></br>
<%= link_to "Connect With Facebook", "/auth/facebook" %><br></br>
