<div class="center-align">
  <h1><%= @sauce.name %></h1>


  <% if @sauce.pies.empty? %>
    <p>Hmm. Looks like there's nothing in the database for <%= @sauce.name %>.</p>
    <% if logged_in? %>
      <p>Want to add something?</p>
        <%= link_to "Create a new Pie", new_py_path, class: "button btn-regular" %>
    <% end %>
  <% end %>

  <% @sauce.find_pies.each do |pie|%>
    <p><%= link_to pie.name, py_path(pie.id) %></p>
  <% end %>

</div>
