/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Layout */
 .container {
   max-width: 1500px;
   margin: 0 auto;
 }

 /* Header */
 header {
   padding: 0px 0;
 }

 header a {
   text-decoration: none;
 }

 header .container {
   display: flex;
   justify-content: space-between;
 }

/* Body */

 body {
  padding-top: 0px;
  padding-bottom: 30px;
}

 header,
 h1 {
  font-family: 'Crimson Text', serif;
  font-size: 2em;
}

 h2 {
  font-family: 'Crimson Text', serif;
}

 h3 {
  font-family: 'Crimson Text', serif;
}

 h4 {
  font-family: 'Crimson Text', serif;
}

 li {
  font-family: 'Crimson Text', serif;
}

 p {
  font-family: 'Crimson Text', serif;
}

 footer {

}

.alert {
  font-size: 18px;
  font-family: 'Crimson Text', serif;
  color: #5C6262;
  background-color: #C9F1F6;
  margin: 10px 0px;
  padding: 12px;
  vertical-align: middle;
}

/* Navigation */
.navbar {
  background-color: #CE0A1D;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Crimson Text', serif;
}


nav ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 0.5em;
}

nav ul li:last-child {
  margin-right: 0;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
