/* Layout */
.container {
  max-width: 1500px;
  margin: 0 auto;
}

/* Header */
header {
  padding: 0px 0;
}

header a {
  text-decoration: none;
}

header .container {
  display: flex;
  justify-content: space-between;
}

/* Body */

body {
 padding-top: 0px;
 padding-bottom: 30px;
}

header,
h1 {
 font-family: 'Crimson Text', serif;
 font-size: 2em;
}

h2 {
 font-family: 'Crimson Text', serif;
}

h3 {
 font-family: 'Crimson Text', serif;
}

h4 {
 font-family: 'Crimson Text', serif;
}

li {
 font-family: 'Crimson Text', serif;
}

p {
 font-family: 'Crimson Text', serif;
}

footer {

}

/* Buttons */

.button {
  padding: 7px 1.5em 8px;
  border-radius: 5px;
  display: inline-block;
}

.button,
.button a {
  color: white;
  text-decoration: none;
}

/* Colors */
.btn-regular {

}

.btn-regular:hover {

}

.btn-add {

}

.btn-add:hover {

}

/* alerts */
.alert {
 font-size: 18px;
 font-family: 'Crimson Text', serif;
 color: #5C6262;
 background-color: #C9F1F6;
 margin: 10px 0px;
 padding: 12px;
 vertical-align: middle;
}

.error_alert {
  font-size: 18px;
  font-family: 'Crimson Text', serif;
  color: #FEFEFE;
  background-color: #FE1313;
  border-color: #FE1313;
  margin: 10px 0px;
  padding: 12px;
  vertical-align: middle;
}

/* Navigation */
.navbar {
 background-color: #CE0A1D;
 overflow: hidden;
}

.navbar a {
 float: left;
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 18px;
 font-family: 'Crimson Text', serif;
}


nav ul {
 display: inline-flex;
 align-items: center;
 list-style: none;
 padding: 0;
 margin: 0;
}

nav ul li {
 margin: 0 0.5em;
}

nav ul li:last-child {
 margin-right: 0;
}

.theme-dropdown .dropdown-menu {
 position: static;
 display: block;
 margin-bottom: 20px;
}

/* Responsive */

@media screen and (max-width: 1000px) {
 .container {
   padding: 0 1em;
 }
}

@media screen and (max-width: 500px) {
 .container {
   padding: 0 0.5em;
 }
}
