<div class="center-align">
  <h1><%= @category.name %> Pizza </h1>

  <div class="category_content">
    <% @category.restaurants.each do |rest| %>
      <p><%= link_to rest.name, restaurant_path(rest.id) %> - <%= rest.neighborhood %>, <%= rest.borough %></p>
    <% end %>
  </div>


</div>
